<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento </title>
    <link real=""
</head>
      <style>
        table{
            border:2px solid rgba(21, 2, 131, 0.692);
            width: 80%;

        }
       th {background-color: rgb(14, 207, 221);
       }
        td{ 
            border: 1px solid rgb(34, 3, 63);
            text-align: center;
            padding: 20px;
        }
      </style> 
      <body>
        <center>
        <table>
            <tr> 
                <th>Luenes</th>
                <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
            <tr>
                <td>Programacion</td>
                <td style="background-color:rgb(238, 148, 13) ;" >Mate </td>
                <td style="background-color: palevioletred ;" >Wed</td>
                <td style="background-color: rgb(238, 148, 13);">Mate</td>
                <td style="background-color: rgb(219, 19, 7 ) ;" >SO</td>
            </tr>
            <tr>
                <td style=background-color:brown>teken</td>
                <td style=background-color:brown>teken</td>
                <td style="background-color: rgba(192, 24, 12, 0.904);">SO</td>
                <td style="background-color: rgb(16, 19, 218) ;" >Wed</td>
                <td style=background-color:brown>teken</td>

            </tr>
            <tr>
                <td style="background-color: darkgoldenrod;">teken</td>Ofimatica</td>
                 <td style=background-color:brown>teken</td>Programacion</td>
                 <td style=background-color:brown>teken</td>Programacion</td>
                 <td style=background-color:brown>teken</td>Programacion</td>
                 <td style=background-color:brown>teken</td>HW</td>
            </tr>
        </table>
        <h1>rene alex morales isla</h1>
        <h1>class1="titulo1" >solo es ejemplo</h1>
        </center>
      </body>   
